{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/location.css' %}">
</head>
<body>
    <div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="bb">Location name:</label>
            <input type="text"class="input" name="Location_name"><br>
            <label class="bb">Latitude     :</label>
            <input type="text"class="input" name="latitude"><br>  
            <label class="bb">Longitude    :</label>
            <input type="text"class="input" name="longitude"><br>
            <button type="submit">Add</button>        
    </form>
</div>
</body>
</html>