{% load static %}
<html>
<head>
    <title>Student Notices</title>
    <link rel="stylesheet" href="{% static 'css/student_notice_list.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

    <form method="get" action="{% url 'student-notice-list' %}">
        <label for="batch_filter">Filter by Batch:</label>
        <select id="batch_filter" name="batch" onchange="this.form.submit()">
            <option value="">All Batches</option>
            {% for batch in batches %}
            <option value="{{ batch.id }}" {% if request.GET.batch == batch.id|stringformat:"s" %}selected{% endif %}>
                {{ batch.name }}
            </option>
            {% endfor %}
        </select>
    </form>
    
    <ul>
        {% for notice in notices %}
        <li>
            <strong>{{ notice.Notice_name }}</strong><br>
            {{ notice.Notice_Content }}<br>
            <em>
                {% if notice.Date %}
                    Posted on: {{ notice.Date|date:"Y-m-d " }}
                {% else %}
                    No Date
                {% endif %}
            </em><br>
            {% if notice.BatchName %}
            <strong>Batch:</strong> {{ notice.BatchName.name }}
            {% else %}
            <strong>Batch:</strong> All Batches
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'add-student-notice' %}">Add New Notice</a>

</body>
</html>
